# AGCM

In [81]:
import glob 
import pandas as pd 
  
# specifying the path to csv files 
path = "D:/files/csv/AGCM"
  
# csv files in the path 
files = glob.glob(path + "/*.csv") 
  
# defining an empty list to store  
# content 
data_frame = pd.DataFrame() 
content = [] 
  
# checking all the csv files in the  
# specified path 
for filename in files: 
    
    # reading content of csv file 
    # content.append(filename) 
    df = pd.read_csv(filename, index_col=None, sep='\t') 
    content.append(df) 
  
# converting content to data frame 
data_frame = pd.concat(content)

In [82]:
data_frame.columns

Index(['Procedimento', 'Codice fiscale', 'Sede Legale', 'Società',
       'Data Decisione', 'Esito', 'Rating',
       'Scadenza  Revoca Annullamento Sospensione'],
      dtype='object')

data_frame = data_frame.drop_duplicates()

In [83]:
data_frame['Scadenza  Revoca Annullamento Sospensione'] = data_frame['Scadenza  Revoca Annullamento Sospensione'].str.replace(r'(*)', '')

In [84]:
data_frame['Scadenza  Revoca Annullamento Sospensione'] = \
pd.to_datetime(data_frame['Scadenza  Revoca Annullamento Sospensione'],dayfirst=True)

In [85]:
data_frame['Data Decisione'] = \
pd.to_datetime(data_frame['Data Decisione'],dayfirst=True)

In [86]:
sorted_df = \
data_frame.sort_values(['Procedimento','Scadenza  Revoca Annullamento Sospensione'], ascending =[True,False])

In [87]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56771 entries, 0 to 11793
Data columns (total 8 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Procedimento                               56771 non-null  object
 1   Codice fiscale                             56771 non-null  object
 2   Sede Legale                                56766 non-null  object
 3   Società                                    56771 non-null  object
 4   Data Decisione                             56771 non-null  datetime64[ns]
 5   Esito                                      56771 non-null  object
 6   Rating                                     56557 non-null  object
 7   Scadenza  Revoca Annullamento Sospensione  55650 non-null  datetime64[ns]
dtypes: datetime64[ns](2), object(6)
memory usage: 3.9+ MB

In [88]:
sorted_df.describe(include='all')

,Procedimento,Codice fiscale,Sede Legale,Società,Data Decisione,Esito,Rating,Scadenza Revoca Annullamento Sospensione
count,56771,56771,56766,56771,56771,56771,56557,55650
unique,17275,16635,3181,16926,NaN,6,7,NaN
top,RT1,00776670895,Roma (RM),KIBERNETES S.R.L.,NaN,Rating Attribuito,*++,NaN
freq,6,6,3597,17,NaN,41698,22192,NaN
mean,NaN,NaN,NaN,NaN,2021-06-11 07:36:46.443430400,NaN,NaN,2023-06-13 04:00:40.366576640
min,NaN,NaN,NaN,NaN,2017-01-25 00:00:00,NaN,NaN,2018-01-10 00:00:00
25%,NaN,NaN,NaN,NaN,2020-07-28 00:00:00,NaN,NaN,2022-08-04 00:00:00
50%,NaN,NaN,NaN,NaN,2021-06-22 00:00:00,NaN,NaN,2023-06-22 00:00:00
75%,NaN,NaN,NaN,NaN,2022-04-20 00:00:00,NaN,NaN,2024-04-20 00:00:00
max,NaN,NaN,NaN,NaN,2023-12-05 00:00:00,NaN,NaN,2025-12-05 00:00:00

In [89]:
data_frame['Esito'].unique()

array(['Rating Rinnovato', 'Rating Attribuito', 'Rating Revocato',
       "Annullamento d'ufficio", 'Rating Sospeso',
       'Efficacia rating sospesa ex art6 comma 2ter'], dtype=object)

In [90]:
data_frame['Rating'].unique()

array(['**', '*++', '**++', '*', '*+', '***', '**+', nan], dtype=object)