# PNRR

- https://openpnrr.it/opendata/

## Scadenze

In [2]:
import pandas as pd

In [2]:
scadenze = pd.read_csv('https://openpnrr.it/csv/scadenze.csv', sep=';')

In [12]:
scadenze_24 = scadenze[(scadenze['tempistica_completamento_anno'] == 2024)]

In [13]:
scadenze_24.columns

Index(['id', 'tipologia', 'numero_sequenziale', 'codice_progressivo',
       'descrizione_breve', 'descrizione_completa',
       'tempistica_completamento_anno', 'tempistica_completamento_trimestre',
       'indicatori_quantitativi_unita', 'indicatori_quantitativi_partenza',
       'indicatori_quantitativi_arrivo', 'indicatori_qualitativi',
       'meccanismo_verifica', 'fonte_dati_metodologia', 'ipotesi_rischi',
       'ita_ue', 'misure_id', 'misure_descr', 'organizzazioni_responsabili_id',
       'organizzazioni_responsabili_descr', 'status', 'status_ultima_data',
       'status_fonti_titoli', 'status_fonti_url'],
      dtype='object')

In [25]:
scadenze_24abs = scadenze_24[[ 'misure_descr']]

In [38]:
pd.set_option('display.max_column', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_seq_items', None)
pd.set_option('display.max_colwidth', 500)
pd.set_option('expand_frame_repr', True)


scadenze_24abs.drop_duplicates().to_csv('D:/scadenze.csv', index=False)

In [9]:
scadenze_24.groupby('misure_descr').size()

misure_descr
"Polis - Case dei servizi di cittadinanza digitale"                                                                                             1
Abilitazione al cloud per le PA locali                                                                                                          1
Accordi per l'Innovazione                                                                                                                       1
Ammodernamento del parco tecnologico e digitale ospedaliero (grandi apparecchiature)                                                            1
Attrattività dei borghi                                                                                                                         1
                                                                                                                                               ..
Turismo, cultura, sport e inclusione|Valorizzazione ambientale, economia circolare e ciclo delle macerie|Centri di ricerca per l'innovazione    1
Tutela e valorizzazione del verde urbano ed extraurbano                                                                                         1
Tutela e valorizzazione dell'architettura e del paesaggio rurale                                                                                1
Ultimo/Penultimo Miglio Ferroviario/Stradale                                                                                                    1
Valorizzazione dei beni confiscati alle mafie                                                                                                   1
Length: 144, dtype: int64

## Localizzazioni dei progetti

In [3]:
dove = pd.read_csv('https://openpnrr.s3.amazonaws.com/media/progetti_territori.csv', sep=',')

In [5]:
dove.columns

Index(['id_terr_prg', 'progetto_id', 'cup', 'codice_locale_progetto',
       'territorio_id', 'istat_id', 'denominazione', 'tipologia'],
      dtype='object')

In [7]:
dove.sample()

,id_terr_prg,progetto_id,cup,codice_locale_progetto,territorio_id,istat_id,denominazione,tipologia
28583,102020,128924,F99G21000010006,F99G21000010006,6366,62066.0,San Nazzaro,C

In [ ]:
= 'https://www.istat.it/storage/codici-unita-amministrative/Elenco-codici-statistici-e-denominazioni-delle-unita-territoriali.zip'

In [14]:
codici_istat = pd.read_csv('D:/Codici-statistici-e-denominazioni-al-18_11_2023.csv',sep=';' , encoding = 'latin1')

In [25]:
codici_istat.sample(3)

      Codice Comune formato alfanumerico Denominazione Regione
6993                               80036              Calabria
991                                 6153              Piemonte
2298                               18109             Lombardia

In [23]:
codici_istat = codici_istat[['Codice Comune formato alfanumerico','Denominazione Regione']]

In [26]:
merge = pd.merge(dove, codici_istat, how='left', left_on='istat_id', right_on='Codice Comune formato alfanumerico')

In [45]:
merge = merge[['cup', 'denominazione', 'Denominazione Regione']]
filter_list = ['Abruzzo', 'Molise', 'Campania','Puglia','Basilicata','Clabria','Sicilia','Sardegna']
merge = merge[merge['Denominazione Regione'].isin(filter_list)]
merge['cup'].describe()

count               51394
unique              40729
top       G21H21000010001
freq                   58
Name: cup, dtype: object

## con csv di Opencup

In [35]:

import os

os.chdir('D:\\duckdb\\files\\Opencup')
df = pd.read_csv('D:\\DIR\\CSV\\PNRR\\PNRR_Progetti.csv', sep=';', thousands=".")

In [36]:
%%time
pd.set_option('display.max_column', None)
df.columns

CPU times: total: 0 ns
Wall time: 0 ns

Index(['Programma', 'Missione', 'Descrizione Missione', 'Componente',
       'Descrizione Componente', 'ID Misura', 'Codice Univoco Misura',
       'Descrizione Misura', 'ID submisura', 'Codice CID',
       'Codice Univoco submisura', 'Descrizione submisura',
       'Amministrazione Titolare', 'CUP ', 'CUP_COD_NATURA',
       'CUP_DESCR_NATURA', 'Codice Locale Progetto ', 'Titolo progetto ',
       'FINANZIAMENTO _UE', 'FINANZIAMENTO_REGIONE', 'FINANZIAMENTO_PROVINCIA',
       'FINANZIAMENTO_COMUNE', 'FINANZIAMENTO_ALTRO_PUBBLICO',
       'FINANZIAMENTO_PRIVATO', 'FINANZ_DA_REPERIRE', 'FINANZIAMENTO_PNRR',
       'FINANZIAMENTO_PNC', 'FINANZ_TOTALE '],
      dtype='object')

In [37]:
dict = {'CUP ': 'CUP', 'FINANZ_TOTALE ': 'finanziamento'} # create a dictionary with old and new name
df.rename(columns=dict,inplace=True) # change column header
PNRR = df.filter(['CUP','finanziamento'], axis=1)

In [71]:
CUP = pd.read_csv('D:\\CUP.csv', sep='\t', dtype=object)

In [72]:
CUP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10474142 entries, 0 to 10474141
Data columns (total 3 columns):
 #   Column   Dtype
---  ------   -----
 0   CUP      object
 1   CF       object
 2   impresa  object
dtypes: object(3)
memory usage: 239.7+ MB

In [73]:
CUP.sample(10)

,CUP,CF,impresa
2405666,B87B20061540009,01026390623,MIRABILANDIA - SOCIETA' COOPERATIVA SOCIALE A ...
10018717,E59F22063930009,02798110926,ORTU GIAN LUCA
6511470,F68G19089160009,01123660936,AZIENDA AGRICOLA TOMASELLA PAOLO & C. S.A.S.
8902659,F63F17108190009,02246360180,IL GERMANO REALE SOCIETA' AGRICOLA
2885236,G73C20010250009,01558830764,COLANGELO LUCIANA
10398796,G77H21055090007,02966410827,ROVIELLO ANNA MARIA
2848706,H11B21008120003,02891720787,TENUTA DEL TRAVALE DI RAFFELLA CIARDULLO
2375177,B12C20000910007,02852120738,CAGLIOSTRO - S.R.L.
2782580,J92F11000150009,80425370584,ENTE GESTORE RISERVE NATURALI REGIONALI DEL LA...
1720373,C86I18000090009,01160470660,DI BATTISTA AMERICO

In [74]:
merge =(pd.merge(PNRR,CUP,on='CUP',how='left'))

In [ ]:
pd.set_option('display.max_rows', None)
merge.sort_values(by=['finanziamento'], ascending=False)  #.dropna()

In [ ]:
merge.to_json('D:\\PNRR_CUP.parquet')

In [79]:
merge.describe()

       finanziamento
count          5,247
mean         226,262
std        1,927,757
min              100
25%           50,000
50%          120,000
75%          260,000
max      114,000,000

In [80]:
merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5247 entries, 0 to 5246
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CUP            5247 non-null   object
 1   finanziamento  5247 non-null   int64
 2   CF             4236 non-null   object
 3   impresa        4236 non-null   object
dtypes: int64(1), object(3)
memory usage: 205.0+ KB

## con file di [Italia Domani](https://www.italiadomani.gov.it/content/sogei-ng/it/it/catalogo-open-data/Universo_ReGiS_Progetti.html)

analisi prendendo spunto da quella fatta da [Andrea Borruso](https://aborruso.github.io/posts/duckdb-intro-csv/)

In [1]:
import pandas as pd
import os

In [7]:
# df = pd.read_csv('https://www.italiadomani.gov.it/content/dam/sogei-ng/open_data/progetti/PNRR_Progetti-Universo_REGIS_v2.1.csv', sep=';')
os.chdir('D:/duckdb/files/ItaliaDomani')
df = pd.read_csv('PNRR_Progetti-Universo_REGIS_v2.1.csv', sep=';', encoding='latin1', decimal=',')

C:\Users\paolo\AppData\Local\Temp\ipykernel_4248\274642138.py:3: DtypeWarning: Columns (48) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('PNRR_Progetti-Universo_REGIS_v2.1.csv', sep=';', encoding='latin1', decimal=',')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197546 entries, 0 to 197545
Data columns (total 51 columns):
 #   Column                                          Non-Null Count   Dtype
---  ------                                          --------------   -----
 0   Programma                                       197546 non-null  object
 1   Missione                                        197546 non-null  object
 2   Descrizione Missione                            197546 non-null  object
 3   Componente                                      197546 non-null  object
 4   Descrizione Componente                          197546 non-null  object
 5   ID Misura                                       197546 non-null  object
 6   Codice Univoco Misura                           197546 non-null  object
 7   Descrizione Misura                              197546 non-null  object
 8   ID Submisura                                    197546 non-null  object
 9   Codice CID                                      197546 non-null  object
 10  Codice Univoco Submisura                        197546 non-null  object
 11  Descrizione Submisura                           197546 non-null  object
 12  Amministrazione Titolare                        197546 non-null  object
 13  Codice Identificativo Procedura di Attivazione  197546 non-null  int64
 14  Titolo Procedura                                183339 non-null  object
 15  Tipologia Procedura di Attivazione              197546 non-null  object
 16  CUP                                             197546 non-null  object
 17  Codice Locale Progetto                          197546 non-null  object
 18  Stato CUP                                       197546 non-null  object
 19  CUP Codice Natura                               179863 non-null  float64
 20  CUP Descrizione Natura                          179863 non-null  object
 21  CUP Codice Tipologia                            179863 non-null  float64
 22  CUP Descrizione Tipologia                       179863 non-null  object
 23  CUP Codice Settore                              179863 non-null  float64
 24  CUP Descrizione Settore                         179863 non-null  object
 25  CUP Codice Sottosettore                         179863 non-null  float64
 26  CUP Descrizione Sottosettore                    179863 non-null  object
 27  CUP Codice Categoria                            179863 non-null  float64
 28  CUP Descrizione Categoria                       179863 non-null  object
 29  Titolo Progetto                                 197119 non-null  object
 30  Sintesi Progetto                                179863 non-null  object
 31  Descrizione Tipo Aiuto                          197540 non-null  object
 32  Finanziamento - Stato                           197546 non-null  float64
 33  Finanziamento Stato - FOI                       197546 non-null  float64
 34  Finanziamento UE (Diverso da PNRR)              197546 non-null  float64
 35  Finanziamento Regione                           197546 non-null  float64
 36  Finanziamento Provincia                         197546 non-null  float64
 37  Finanziamento Comune                            197546 non-null  float64
 38  Finanziamento Altro Pubblico                    197546 non-null  float64
 39  Finanziamento Privato                           197546 non-null  float64
 40  Finanziamento Da Reperire                       197546 non-null  float64
 41  Finanziamento PNRR                              197546 non-null  float64
 42  Finanziamento PNC                               197546 non-null  float64
 43  Altri Fondi                                     197546 non-null  float64
 44  Finanziamento Totale                            197546 non-null  float64
 45  Finanziamento Totale Pubblico                   197546 non-null  float64
 46  Finanziamento Totale Pubblico Netto             197546 non-null  float64
 47  Soggetto Attuatore                              197546 non-null  object
 48  Codice Fiscale Soggetto Attuatore               197438 non-null  object
 49  Flag Progetti in Essere                         197546 non-null  object
 50  Data di Estrazione                              197546 non-null  object
dtypes: float64(20), int64(1), object(30)
memory usage: 76.9+ MB

In [9]:
df.head(4)

,Programma,Missione,Descrizione Missione,Componente,Descrizione Componente,ID Misura,Codice Univoco Misura,Descrizione Misura,ID Submisura,Codice CID,...,Finanziamento PNRR,Finanziamento PNC,Altri Fondi,Finanziamento Totale,Finanziamento Totale Pubblico,Finanziamento Totale Pubblico Netto,Soggetto Attuatore,Codice Fiscale Soggetto Attuatore,Flag Progetti in Essere,Data di Estrazione
0,PNRR,M1,"Digitalizzazione, innovazione, competitività e cultura",M1C1,"Digitalizzazione, innovazione e sicurezza nella PA",M1C1I1.2,M1C1I1.02,Abilitazione al cloud per le PA locali,M1C1I1.2,M1C1I1.2,...,47427.0,0.0,0.0,47427.0,47427.0,47427.0,COMUNE DI COSOLETO,1234470803,No,13/06/2023
1,PNRR,M1,"Digitalizzazione, innovazione, competitività e cultura",M1C1,"Digitalizzazione, innovazione e sicurezza nella PA",M1C1I1.2,M1C1I1.02,Abilitazione al cloud per le PA locali,M1C1I1.2,M1C1I1.2,...,47427.0,0.0,0.0,47427.0,47427.0,47427.0,COMUNE DI BOMPENSIERE,80005060852,No,13/06/2023
2,PNRR,M1,"Digitalizzazione, innovazione, competitività e cultura",M1C1,"Digitalizzazione, innovazione e sicurezza nella PA",M1C1I1.2,M1C1I1.02,Abilitazione al cloud per le PA locali,M1C1I1.2,M1C1I1.2,...,47427.0,0.0,0.0,47427.0,47427.0,47427.0,COMUNE DI CASTELGRANDE,80004060762,No,13/06/2023
3,PNRR,M1,"Digitalizzazione, innovazione, competitività e cultura",M1C1,"Digitalizzazione, innovazione e sicurezza nella PA",M1C1I1.2,M1C1I1.02,Abilitazione al cloud per le PA locali,M1C1I1.2,M1C1I1.2,...,47427.0,0.0,0.0,47427.0,47427.0,47427.0,COMUNE DI ITTIREDDU,283910909,No,13/06/2023

In [12]:
df1 = df[['Missione', 'Codice Univoco Misura','CUP Codice Natura']]

In [13]:
df1.describe()

       CUP Codice Natura
count      179863.000000
mean            2.793593
std             1.760754
min             1.000000
25%             2.000000
50%             2.000000
75%             3.000000
max             8.000000

In [14]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197546 entries, 0 to 197545
Data columns (total 3 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Missione               197546 non-null  object
 1   Codice Univoco Misura  197546 non-null  object
 2   CUP Codice Natura      179863 non-null  float64
dtypes: float64(1), object(2)
memory usage: 4.5+ MB

In [18]:
df1.isna().sum()

Missione                     0
Codice Univoco Misura        0
CUP Codice Natura        17683
dtype: int64

In [22]:
import numpy as np
df1.nunique(axis=0)

Missione                   6
Codice Univoco Misura    109
CUP Codice Natura          6
dtype: int64

### analisi

In [49]:
%%time
df.groupby(['Missione'])['Finanziamento PNRR'].sum() #CRIF

CPU times: total: 0 ns
Wall time: 9.37 ms

Missione
M1    1.924533e+10
M2    2.268852e+10
M3    2.256374e+10
M4    2.012927e+10
M5    1.299826e+10
M6    8.059988e+09
Name: Finanziamento PNRR, dtype: float64

In [23]:
import duckdb
con = duckdb.connect()

In [43]:
# create the table "my_table" from the DataFrame "df"
# Note: duckdb.sql connects to the default in-memory database connection
duckdb.sql("CREATE TABLE my_table1 AS SELECT * FROM df")

# insert into the table "my_table" from the DataFrame "df"
duckdb.sql("INSERT INTO my_table1 SELECT * FROM df")

In [31]:
df2 = con.execute(f'''SELECT Missione, SUM("Finanziamento PNRR") \
AS total_PNRR FROM  read_csv_auto("PNRR_Progetti-Universo_REGIS_v2.1.csv", \
delim=";", decimal_separator=",", header=True,types={"Finanziamento PNRR":"FLOAT"}) GROUP BY Missione").df())

SyntaxError: incomplete input (1461363199.py, line 1)

In [44]:
print(duckdb.query("SELECT count(*) FROM my_table1").to_df())

   count_star()
0        395092

In [47]:
print(duckdb.query("SELECT Missione, SUM('Finanziamento PNRR') AS total_PNRR FROM my_table1").to_df())

BinderException: Binder Error: No function matches the given name and argument types 'sum(VARCHAR)'. You might need to add explicit type casts.
	Candidate functions:
	sum(DECIMAL) -> DECIMAL
	sum(SMALLINT) -> HUGEINT
	sum(INTEGER) -> HUGEINT
	sum(BIGINT) -> HUGEINT
	sum(HUGEINT) -> HUGEINT
	sum(DOUBLE) -> DOUBLE

In [46]:
print(duckdb.query("SELECT * FROM my_table1 limit 4").to_df())

  Programma Missione                               Descrizione Missione  \
0      PNRR       M1  Digitalizzazione, innovazione, competitività e...
1      PNRR       M1  Digitalizzazione, innovazione, competitività e...
2      PNRR       M1  Digitalizzazione, innovazione, competitività e...
3      PNRR       M1  Digitalizzazione, innovazione, competitività e...

  Componente                             Descrizione Componente ID Misura  \
0       M1C1  Digitalizzazione, innovazione e sicurezza nell...  M1C1I1.2
1       M1C1  Digitalizzazione, innovazione e sicurezza nell...  M1C1I1.2
2       M1C1  Digitalizzazione, innovazione e sicurezza nell...  M1C1I1.2
3       M1C1  Digitalizzazione, innovazione e sicurezza nell...  M1C1I1.2

  Codice Univoco Misura                      Descrizione Misura ID Submisura  \
0             M1C1I1.02  Abilitazione al cloud per le PA locali     M1C1I1.2
1             M1C1I1.02  Abilitazione al cloud per le PA locali     M1C1I1.2
2             M1C1I1.02  Abilitazione al cloud per le PA locali     M1C1I1.2
3             M1C1I1.02  Abilitazione al cloud per le PA locali     M1C1I1.2

  Codice CID  ... Finanziamento PNRR Finanziamento PNC Altri Fondi  \
0   M1C1I1.2  ...            47427.0               0.0         0.0
1   M1C1I1.2  ...            47427.0               0.0         0.0
2   M1C1I1.2  ...            47427.0               0.0         0.0
3   M1C1I1.2  ...            47427.0               0.0         0.0

   Finanziamento Totale Finanziamento Totale Pubblico  \
0               47427.0                       47427.0
1               47427.0                       47427.0
2               47427.0                       47427.0
3               47427.0                       47427.0

  Finanziamento Totale Pubblico Netto      Soggetto Attuatore  \
0                             47427.0      COMUNE DI COSOLETO
1                             47427.0   COMUNE DI BOMPENSIERE
2                             47427.0  COMUNE DI CASTELGRANDE
3                             47427.0     COMUNE DI ITTIREDDU

  Codice Fiscale Soggetto Attuatore Flag Progetti in Essere  \
0                        1234470803                      No
1                       80005060852                      No
2                       80004060762                      No
3                         283910909                      No

   Data di Estrazione
0          13/06/2023
1          13/06/2023
2          13/06/2023
3          13/06/2023

[4 rows x 51 columns]